ul
{
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}
li{
  padding: 1rem;
  float: left;
}
li a{
  text-decoration: none;
}
.tarjeta:hover{
  box-shadow: 5px 5px 5px black;
}
/* li a :hover{
  background-color: #121820;
} */
