<div class="container-fluid">
  <div class="row">
    <p-progressSpinner *ngIf="!caratulaVisible; else caratulas" class="d-flex justify-content-center"></p-progressSpinner>
    <!-- caratulas - Carousel -->
    <ng-template #caratulas >
      <p-carousel [value]="carousel" [page]="0" [autoplayInterval]="3000"   [showIndicators]="false" [showNavigators]="false" styleClass="p-carousel-next .p-carousel-prev" >
        <ng-template let-juego pTemplate="item">
          <app-carousel [juego]="juego"></app-carousel>
        </ng-template>
      </p-carousel>
    </ng-template>
  </div>
  <div class="row">
    <h2>Todos los juegos:</h2>
  </div>
  <div class="row">


    <!-- Catalogo - carousel -->
      <p-progressSpinner *ngIf="!catalogoVisible; else catalogo" class="d-flex justify-content-center"></p-progressSpinner>
      <ng-template #catalogo>
          <p-carousel [value]="catalogoJuegos" [numVisible]="3" [numScroll]="3" [page]="1" [responsiveOptions]="responsiveOptions"  [autoplayInterval]="9000" [circular]="true" [showIndicators]="false" >
            <ng-template let-juego pTemplate="item">
              <button type="button"  (click)="mostrarDetalle(juego.id)" >
                <p-card header="{{juego.title}}"  subheader="{{juego.genre}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}" styleClass="tarjeta" >
                  <ng-template pTemplate="header">
                    <img alt="Card" src="{{juego.thumbnail}}">
                </ng-template>
                <ng-template pTemplate="subtitle" >
                  <p> Lanzamiento: {{anioLanzamiento(juego.release_date)}}</p>
                </ng-template>
                </p-card>
              </button>
            </ng-template>
          </p-carousel>
      </ng-template>

  </div>
  <div class="row" *ngIf="idJuegoSeleccionado != ''">
    <p-dialog [style]="{width: '70vw'}" [transitionOptions]="'250ms'" [modal]="true" [(visible)]="display" (onHide)="borrarId()" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
      <app-detalle-juego [id]="idJuegoSeleccionado"></app-detalle-juego>
  </p-dialog>

</div>










