ul
{
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}
li{
  padding: 1rem;
  float: left;
}
li a{
  text-decoration: none;
}

:host ::ng-deep .tarjeta:hover{
  background-color: black !important;
  transform: scale(0.9);
}

input{
  background-color: var(--surface-800);
  color: var(-surface-0);
}


