.titulo{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.my_card{
  border-color:var(--surface-50);
  border-radius: 5rem;

}
.descripcion{
  background-color: red !important;
}
.uLista{
  display: inline-block;
  list-style-type:none;
}
.caratula{
  height: 25rem;
  width: 100%;
  /* filter: blur(2.5px); */
}
