<div class="container  bg-dark">
  <div class="row">
    <p-carousel [value]="juego.screenshots"  [autoplayInterval]="9000" [circular]="true" [showNavigators]="false" [showIndicators]="false">
      <ng-template let-imagen pTemplate="item" >
        <div>
          <img src="{{imagen.image}}" alt="" class="caratula">
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="row ">
    <div class="col">
      <h1>{{juego.title}}</h1>
      <p >{{juego.short_description}}</p>
      <hr>
    </div>
  </div>
  <div class="row ">
    <div  class="col-10">
      <h3>Descripción:</h3>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-lg">Ir al foro</button>
    </div>
  </div>
  <div class="row ">
    <div class="col-4">
      <h6>Fecha: {{juego.release_date}}</h6>
    </div>
    <div class="col">
      <h6>Genero: {{juego.genre}}</h6>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Plataforma: {{juego.platform}}</h6>
      </div>
      <div class="col">
        <h6>Empresa: {{juego.publisher}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <p-tabView>
      <p-tabPanel header="Requerimientos minimos">
        <div class="container-fluid">
          <div class="row">
            <p>Graficos: {{juego.minimum_system_requirements.graphics}}</p>
          </div>
          <div class="row">
            <p>Memoria: {{juego.minimum_system_requirements.memory}}</p>
          </div>
          <div class="row">
            <p>Sistema Operativo: {{juego.minimum_system_requirements.os}}</p>
          </div>
          <div class="row">
            <p>Almacenamiento: {{juego.minimum_system_requirements.storage}}</p>
          </div>
          <div class="row">
            <p>Procesador: {{juego.minimum_system_requirements.processor}}</p>
          </div>
        </div>
      </p-tabPanel>
  </p-tabView>

  </div>
</div>




