<div class="container  bg-dark">
  <div class="row">
    <p-carousel [value]="juego.screenshots"  [autoplayInterval]="9000" [circular]="true" [showNavigators]="false" [showIndicators]="false">
      <ng-template let-imagen pTemplate="item" >
        <div>
          <img src="{{imagen.image}}" alt="" class="caratula">
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="row ">
    <div class="col">
      <h1>{{juego.title}}</h1>
      <p >{{juego.short_description}}</p>
      <hr>
    </div>
  </div>
  <div class="row ">
    <div  class="col-9">
      <h3>Descripción:</h3>
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-lg">Ir al foro</button>
    </div>
  </div>
  <div class="row ">
    <div class="col-2">
      <h5>Fecha:</h5>
    </div>
    <div class="col-2">
      <h6 >{{juego.release_date}}</h6>
    </div>
    <div class="col-2">
      <h5>Genero:</h5>
    </div>
    <div class="col-2">
      <h6 >{{juego.genre}}</h6>
    </div>
    <div class="row">
      <div class="col-2">
        <h5>Plataforma:</h5>
      </div>
      <div class="col-2">
        <h6>{{juego.platform}}</h6>
      </div>
      <div class="col-2">
        <h5>Empresa:</h5>
      </div>
      <div class="col-2">
        <h6 >{{juego.publisher}}</h6>
      </div>
    </div>
  </div>
</div>




