h1{
  display:inline-block;
  padding-right: 1rem;
}

.footer {
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
}
input :focus{
  border: 1px solid #E50914  !important;
  box-shadow: 0 0 3px #E50914 !important;
}
