<div  class="p-1  bg-dark text-white" style="text-align: center;">
    <a href="/" class="nav-link text-white"><h1>{{titulo}}</h1></a>
</div>
<!-- navegacion - estara en todos los componentes -->
<!-- temporal, solo para navegar rapido entre componentes -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalogo">Categoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar Sesion</a>
        </li>
      </ul>
</nav> -->

<router-outlet></router-outlet>

<footer class="footer">
  <p> Pablo Sandoval - 2022</p>
  </footer>